section.filters {
    background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
    display: inline-flex;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	margin: 100px;
}
section.filters > button {
    background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	font-size: 18px;
	margin-right: 30px;
	border: none;
	border-radius: 4px;
	vertical-align: center;
	position: absolute;
	justify-items: auto;
	opacity: 1;
}
section.filters > button:hover {
    opacity: 0.9;
}
section.filters div.locations, section.filters div.amenities {
    border-right: 1px solid #DDDDDD;
    height: 100%;
    width: 25%;
    border-bottom: 2px;
    margin: auto;
    text-align: center;
    margin-left: 5%;
    border-right-width: 1px;
    border-right-style: solid;
    border-spacing: 25%;
    
}
div.locations h3, div.amenities h3 {
    font-weight: 600;
    margin-top: 10px;
}
div.locations h4, div.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.popover {
    display: block;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    position: relative;
    z-index: 1;
    margin-top: 17px;
    padding: 30px 50px 30px 0px;
    left: -51px;
}
.popover, .popover {
    display: none;
}
.locations:hover > .popover {
    display: block;
}
.amenities:hover > .popover  {
    display: inline-table;
}
.popover h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.locations > .popover > li {
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 20px;
}
.locations > .popover > li {
    margin-bottom: 10px;
}
.amenities > .popover li {
    margin-left: 50px;
    margin-bottom: 10px;
}
ul li {
    list-style-type: none;
}
