.places {
    margin: 0px auto;
    max-width: 1000px;
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1 {
    width: 100%;
    padding-left: 22px;
}
.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.places article {
    font-size: 30px;
}
